@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.main{
    background: linear-gradient(#000000, #3b3b3b);
    width: 100%;
    background-attachment: fixed;
}

header{
    padding:0.9vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    text-align: center;
    align-items: center;
    z-index: 10000000;
    backdrop-filter: blur(8px);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
    z-index: 10000;

}

ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(200,200,200);
    border-radius: 20px;
    transition: color 0.3s ease-in-out;
}

header ul li a.active {
    background: #fff;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header ul li a.active:hover {
    color: black;
}

header ul li a:hover {
    color: white;
    scroll-behavior: smooth;
}

.hdrimage {
    width: 32px; /* Set the width of the social icons */
    height: auto; /* Maintain aspect ratio */
    margin: 0 20px;
}

.cimage {
    width: 24vh; /* Set the width of the social icons */
    height: 24vh; /* Maintain aspect ratio */
    margin: 0 20px;
    
}

.sec{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.sec h2{
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.sec p{
    font-size: 1.2em;
    color: #fff;
}

.contact-area {
    margin: 0 80px;
}

.social-icons{
    text-align: center;
    padding-top: 10px;

}
.social-icon{
    width: 6vh;
    height: 6vh;
    margin: 0 20px;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));
}

.social-icon:hover{
    transform: translateY(-4px);
    transition: 0.2s ease-out;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));

}