@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.main{
    background: url(mountain.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.main::after
{
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 4em;
    background: linear-gradient(to top, #001634, transparent 90%);

}

header{
    padding:0.9vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: fixed;
    text-align: center;
    align-items: center;
    z-index: 10000000;
    backdrop-filter: blur(8px);
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 14px;
    z-index: 10000;

}

ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(200,200,200);
    border-radius: 20px;

}

header ul li a.active {
    background: #fff;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header ul li a.active:hover {
    color: black;
}

header ul li a:hover {
    color: white;
    scroll-behavior: smooth;
}

.hdrimage {
    width: 32px; /* Set the width of the social icons */
    height: auto; /* Maintain aspect ratio */
    margin: 0 20px;

}

.name-container{
    padding-top: 32vh;
    
}

.name{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 6em;
    letter-spacing: 2px;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.6));

}

.social-icons{
    text-align: center;
    padding-top: 10px;

}
.social-icon{
    width: 32px;
    height: 32px;
    margin: 0 20px;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));
}

.social-icon:hover{
    transform: translateY(-4px);
    transition: 0.2s ease-out;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));

}

.about{
    background: #001634;
    padding: 100px;

}

.about h2{
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.about p{
    font-size: 1.2em;
    color: #fff;
}

#particles-js{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Back to top button*/
.back-to-top{
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    z-index: 100000;
    backdrop-filter: blur(8px);

}

.back-to-top span{
    color: rgb(200,200,200);
    font-size: 2rem;
    transition: 0.2s ease-out;
}


.back-to-top:hover span{
    color: white;
    transform: translateY(-4px);
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));
}

/* Scroll down button */
.scroll-down{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s ease-out;
    z-index: 1000000;
}

.scroll-down span{
    color: #fff;
    font-size: 4rem;
    transition: 0.2s ease-out;

}

.scroll-down:hover span{
    transform: translateY(-4px);
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));

}

/* Footer */
footer{
    padding: 10px;
    background-color: #1b1b1b;
    z-index: 1000000;
}

.footer-container {
    display: flex;
    justify-content: center; /* Distribute items along the main axis */
    align-items: center; /* Center items along the cross axis */
    flex-direction: column;
}

.contact-me{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.6));

}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    /* margin: 0 5px; Add some spacing between social icons */
    width: 38px; /* Set the width of the social icons */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

/* PROGRESS BARS */
.skills-container{
    padding: 20px;
    background-color: #eeeeee;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.bars-container{
    background-color: #eeeeee;
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-style: solid;
    border-radius: 2rem;
    padding-bottom: 4rem;
}

.skills-title{
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
    text-align: center;
}

.skills h2{
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: black;
    font-size: 20px;
}

.progress-bar{
    background: #959595;
    width: 600px;
    height: 20px;
    border-radius: 10px;
}

.progress-bar div{
    height: 20px;
    border-radius: 10px;
    width: 0%;
}


.java{
    background: #e91e63;
    animation: java 1s linear forwards;
}

.python{
    background: #cddc39;
    animation: python 1s linear forwards;

}

.php{
    background: #00bcd4;
    animation: php 1s linear forwards;

}

.html{
    background: #ffeb3b;
    animation: html 1s linear forwards;

}

.css{
    background: #9c27b0;
    animation: css 1s linear forwards;

}

.javascript{
    background: #1ee9a5;
    animation: javascript 1s linear forwards;

}

.bash{
    background: #2ea351;
    animation: bash 1s linear forwards;

}

.kotlin{
    background: #8735ca;
    animation: kotlin 1s linear forwards;

}

.xml{
    background: #1ee94a;
    animation: xml 1s linear forwards;

}

@keyframes java{
    100%{
        width: 82%;
    }
}

@keyframes python{
    100%{
        width: 53%;
    }
}

@keyframes php{
    100%{
        width: 24%;
    }
}

@keyframes html{
    100%{
        width: 40%;
    }
}

@keyframes css{
    100%{
        width: 31%;
    }
}

@keyframes javascript{
    100%{
        width: 37%;
    }
}

@keyframes bash{
    100%{
        width: 12%;
    }
}

@keyframes kotlin{
    100%{
        width: 23%;
    }
}

@keyframes xml{
    100%{
        width: 14%;
    }
}